<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand text-uppercase" href="{% url 'home' %}">
        Crop Demand Market
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == '/' %} active {% endif %}"
              aria-current="page"
              href="{% url 'home' %}"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/crop' in request.path %} active {% endif %}" href="{% url 'home' %}">Crop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/partner' in request.path %} active {% endif %}" href="{% url 'home' %}">Cooperative</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/service' in request.path %} active {% endif %}" href="{% url 'home' %}">Transaction</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/dashboard' %} active {% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if 'signin' in request.path %} active {% endif %}" href="{% url 'signin' %}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'signup' in request.path %} active {% endif %}" href="{% url 'signup' %}">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <form class='d-flex' action='{% url "search" %}' method='GET' autocomplete="off">
              <input type="text" name="keyword" class='form-control me-1' placeholder='Search . . .' required='true' />
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>