{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Analytics {% endblock %}
{% block content %}
<h4>Analytics</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Analytics</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-6 mb-2">
      <label for="start" class="form-label">Start date</label>
      <input type="date" class="form-control" name="start" placeholder='Cooperative name' value="" />
    </div>
    <div class="col-md-6 mb-2">
      <label for="end" class="form-label">End date</label>
      <input type="date" class="form-control" name="end" placeholder='Cooperative name' value="" />
    </div>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Generate report</button>
    <a class="btn btn-link" href="{% url 'dashboard' %}">Dashboard</a>
  </div>
</form>
{% if recommended_crop %}
<h4 class='my-4'>Panda Dataframe</h4>
<div class="table-responsive">
  <table class='table table-hover'>
    <tr>
      {% for col in dataframe.columns %}
      <td>{{ col }}</td>
      {% endfor %}
    </tr>
      {% for index, row in dataframe.iterrows %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>
</div>
<h6 class='text-center'>recommended crop: <span class='text-primary'>{{ recommended_crop }}</span></h6>
{% endif %}
{% endblock %}