{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Crop {% endblock %}
{% block content %}
<h4>All Crop</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'crop.index' %}">Crop</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Crop</li>
  </ol>
</nav>
<a href="{% url 'crop.create' %}" class="btn btn-primary float-end">Add new crop</a>
{% include 'partials/messages.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Season</th>
      <th scope="col">Category</th>
      <th scope="col">Production Cost</th> 
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for crop in page_object %}
    <tr>
      <td>{{crop.name}}</td>
      <td><img src='/media/{{crop.image}}' width="50"/></td>
      <td>{{crop.season.name}}</td>
      <td>{{crop.category.name}}</td>
      <td>{{crop.production_cost}}</td>
      <td>
        <a href="" class="btn btn-info">Edit</a>
        <a href="{% url 'crop.delete' id=crop.id %}" class="btn btn-warning">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
    {% if page_object.has_next %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}