{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Transaction {% endblock %}
{% block content %}
<h4>Edit transaction</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'transaction.index' %}">Transaction</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit transaction</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Crop</label>
      <select name="crop" class='form-control'>
        <option value="{{ transaction.crop_id }}">{{ transaction.crop.name }}</option>
        {% for crop in crops %}
        <option value="{{ crop.id }}">{{ crop.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Quantity</label>
      <input type="number" class="form-control" name="quantity" placeholder='120' value='{{ transaction.quantity }}' />
    </div>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Transaction Type</label>
      <select name="type" class="form-control">
        <option value="{{ transaction.transaction_type }}">{{ transaction.transaction_type }}</option>
        <option value="received">received</option>
        <option value="sold">sold</option>
        <option value="expired">expired</option>
      </select>
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea id='editor' class='form-control' name='description' rows='5' placeholder="Transaction information">{{ transaction.description }}</textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'transaction.index' %}">All transaction</a>
  </div>
</form>
{% endblock %}
{% block styles %}
<link href="{% static 'css/tagify.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block scripts %}
<script src="{% static 'js/tagify.js' %}"></script>
<script src="{% static 'js/ckeditor.js' %}"></script>
<script src="{% static 'js/tagify.polyfills.min.js' %}"></script>
<script>
  ClassicEditor.create(document.querySelector('#editor'))
  let input = document.querySelector('input[name=tags]');
  new Tagify(input)
</script>
{% endblock %}