{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Transaction {% endblock %}
{% block content %}
<h4>All Transaction</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'transaction.index' %}">Transaction</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Transaction</li>
  </ol>
</nav>
<a href="{% url 'transaction.create' %}" class="btn btn-primary float-end">Add new transaction</a>
{% include 'partials/messages.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Crop</th>
      <th scope="col">Description</th>
      <th scope="col">Transaction</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time</th> 
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in page_object %}
    <tr>
      <td><img src='/media/{{transaction.crop.image}}' width='50'/></td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.transaction_type}}</td>
      <td>{{transaction.quantity}}</td>
      <td>{{transaction.created_at}}</td>
      {% if transaction.user_id == user.id %}
      <td>
        <a href="{% url 'transaction.edit' id=transaction.id %}" class="btn btn-info">Edit</a>
        <a href="{% url 'transaction.delete' id=transaction.id %}" class="btn btn-warning">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
    {% if page_object.has_next %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
